[submodule "Dogo/vendor/GLFW"]
	path = Dogo/vendor/GLFW
	url = https://github.com/dogopequi/glfw.git
[submodule "Dogo/vendor/imgui/-docking"]
	path = Dogo/vendor/imgui/-docking
	url = https://github.com/dogopequi/imgui
